

h1 {
	color: #c0262C;
	font-size: 2.5em; /* 40/16=2.5 (1em equivale á 16px) */
    border-bottom: #c0262C solid thin;
    padding-bottom: 7px;
}

h2 {
	font-size: 1.75em; /* 28/16=1.75 */
    background: #c0262C url(../Multimidia/back-bolinha.gif) repeat top center;
    color: #fff;
    letter-spacing: .1em;
    padding: 7px;
    width: 316px;
}

p {
	font-size: 1.1em;
	line-height: 1.3em; /*altura da linha */
	text-align: justify;
}

p::first-line { /*aplica alterações apenas a primeira linha de cada parágrafo */
	font-size: 1.17em;
	font-variant: small-caps;
	font-weight: bolder;
	font-style: italic;
}

hr { /*aplica separador do tipo régua */
	border-color: #c0262C;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* pg produtos - table */
#produtos table {
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
    border-collapse: collapse;
}

#produtos th, #produtos td {
    border: #999 solid 1px;
    padding: 5px;
}

#produtos caption {
    background-color: #999;
    color: #fff;
    padding: 15px 0;
    font-size: 1.5em;
}

#produtos td[colspan] {
    font-style: italic;
    font-weight: bold;
    color: #999;
}

#produtos tr:hover{
    background-color: #feff76;
}

/*página formulário */
form{
    background-color: #999;
    margin: 30px 0;
    padding:20px;
    border-radius: 0 15px;
}

label{
    display: block;
    margin-top: 7px;
    float: left;
    width: 60px;
}

input#nome, input#email{
    background-color: transparent;
    border: none;
    border-bottom: #000 solid 1px;
    font-size: 1.2em;
    color: #fff;
    width: 800px;
}

/*Compatibilidade navegadores*/
::-webkit-input-placeholder{ /*Chrome, Safari, Opera*/
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}
::-moz-placeholder { /*Firefox*/
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}
::-ms-input-placeholder{ /*Explorer*/
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}



input[type="submit"]{
    background-color: #c0262C;
    background: linear-gradient(to bottom, #6b1516 0%, #c0262c 30%,
    #c0262c 70%, #6b1516 100%);
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    color: #fff;
    padding: 10px 30px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #000;
    cursor: pointer;
}

/*página banho e tosa -formulário*/
#banhoetosa fieldset{
    background-color: #fff;
    border: none;
    border-radius: 0 15px;
    margin-bottom: 20px;
}

#banhoetosa fieldset legend{
    background-color: #c0262C;
    color: #fff;
    font-weight: bold;
    letter-spacing: .05em;
    padding: 10px;
    margin-left: -13px;
}

#banhoetosa label{
    display: block;
    margin-top: 7px;
    float: left;
    width: 115px;
}

#banhoetosa fieldset input[type="text"],
#banhoetosa fieldset input[type="email"]{
    border: none;
    border-bottom: #000 solid 1px;
    font-size: 1.2em;
    color: #000;
    width: 770px;
}

#banhoetosa fieldset textarea{
    width: 77px;
    height: 100px;
    font-size: 1.2em;
    border: #000 solid 1px;
}